.style.css {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.style.css {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    .container {
        display: flex;
        justify-content: space-around;
    }
    
    .box {
        width: 30%;
        padding: 20px;
        background-color: white;
        box-shadow: 2px 2px 10px gray;
    }
    